<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon">
			<!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/img/laboratorio.png" width="35"/>
		</div>
		<div class="sidebar-brand-text mx-3">Softlab</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Tables -->

	<!--Alaterar aqui -->
	<li class="nav-item">
		<a class="nav-link" href="/app/material/list">
			<i class="fas fa-stethoscope"></i>
			<span>Material</span>
		</a>
	</li>

<!-- Falta o endpoint
	<li class="nav-item">
		<a class="nav-link" href="/app/aparelho/list">
			<i class="fas fa-stethoscope"></i>
			<span>Aparelho</span>
		</a>
	</li>
-->

<!-- Falta o endpoint
	<li class="nav-item">
	<a class="nav-link" href="/app/postocoleta/list">
		<i class="fas fa-stethoscope"></i>
		<span>Posto de Coleta</span>
	</a>
	</li>
-->

	<li class="nav-item">
	<a class="nav-link" href="/app/setor/list">
		<i class="fas fa-stethoscope"></i>
		<span>Setor</span>
	</a>
	</li>

<!-- Tá dando erro em conselho-->
	<li class="nav-item">
		<a class="nav-link" href="/app/tiposolicitante/list">
			<i class="fas fa-stethoscope"></i>
			<span>Tipo Solicitante</span>
		</a>
	</li>


	<li class="nav-item">
		<a class="nav-link" href="/app/procedimentosus/list">
			<i class="fas fa-stethoscope"></i>
			<span>Procedimento Sus</span>
		</a>
	</li>

	<li class="nav-item">
			<a class="nav-link" href="/app/paciente/list">
				<i class="fas fa-stethoscope"></i>
				<span>Paciente</span>
			</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->