<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Softlab</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu -->
		<%- include ../template/menu.ejs %>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<%- include ../template/topo.ejs %>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Cadastrar Material</h1>

					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-12 col-md-12 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<form class="user" method="POST" action="/app/<%= page %>/create/submit">
												<div class="form-group row">
													
														<div class="col-sm-6">
															<!--Alaterar aqui -->
															
															<input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
															<input type="text" class="form-control" id="cartaosus" name="cartaosus" placeholder="Cartão SUS">
															<input type="text" class="form-control" id="cep" name="cep" placeholder="Cep">
															<input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
															<input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento">
															<input type="text" class="form-control" id="cpf" name="cpf" placeholder="Cpf">
															<input type="text" class="form-control" id="datacadastro" name="datacadastro" placeholder="Data Cadastro">
															<input type="text" class="form-control" id="datanascimento" name="datanascimento" placeholder="Data de Nascimento">
															<input type="text" class="form-control" id="id" name="id" placeholder="Id">	
															<input type="text" class="form-control" id="lougradouro" name="lougradouro" placeholder="Lougradouro">
															<input type="text" class="form-control" id="mae" name="mae" placeholder="Mãe">
															<input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição">
															<input type="text" class="form-control" id="id" name="id" placeholder="Id">
															<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
															<input type="text" class="form-control" id="numero" name="numero" placeholder="Número">
															<input type="text" class="form-control" id="pai" name="pai" placeholder="Pai">
															<input type="text" class="form-control" id="rg" name="rg" placeholder="Rg">
															<input type="text" class="form-control" id="sexo" name="sexo" placeholder="Sexo">
															<input type="text" class="form-control" id="telefone1" name="telefone1" placeholder="Telefone 1">
															<input type="text" class="form-control" id="telefone2" name="telefone2" placeholder="Telefone 2">
																																																																																					
                                       					</div>
															
														</div>
														<div class="form-group row">
															<div class="col-sm-4">
																<input type="submit" value="Salvar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"/>
																<a href="/app/<%= page %>/list"
																	class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
															</div>
														</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Rodapé -->
			<%- include ../template/rodape.ejs %>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>