<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Lab</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-ligth">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center mt-5">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block "
								style="background-image: url('/img/logologin.png');background-repeat: no-repeat;background-position: center;background-size: 500px;background-color: red">

							</div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Acesso</h1>
									</div>
									<form class="user" method="POST" action="/app/authentication">
										<div class="form-group">
											<input type="text" class="form-control form-control-user" name="email"
												id="exampleInputEmail" aria-describedby="emailHelp"
												placeholder="Usuário">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												name="password" id="exampleInputEmail" placeholder="Senha">
										</div>

										<input type="submit" value="Entrar" class="btn btn-danger btn-user btn-block"
											style="width: 100%;">
									</form>
								
									

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>