<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Lab</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<script>
		function setaDadosModal(valor) {
          document.getElementById('campo').value = valor;
      }
	</script>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu -->
		<%- include ../template/menu.ejs %>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<%- include ../template/topo.ejs %>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Tipo Solicitante</h1>
<%- messages() %>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<!--<h6 class="m-0 font-weight-bold text-primary">Listagem</h6>-->

							<a href="/app/<%= page %>/create" class="btn btn-primary btn-circle btn-sm"
								style="float: right;">
								<i class="fas fa-plus"></i>
							</a>

						</div>

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<!--Alaterar aqui -->
											<th>Id</th>
											<th>Descrição</th>
											<th>Conselho</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<!--Alaterar aqui -->
											<th>Id</th>
											<th>Descrição</th>
											<th>Conselho</th>
											<th>Ação</th>
										</tr>
									</tfoot>
									<tbody>
										<% for (var i = 0; i < itens.length; i++) { %>
										<tr>
											<!--Alaterar aqui -->
											<td><%= itens[i].id %></td>
											<td><%= itens[i].descricao %></td>
											<td><%= itens[i].conselho %></td><td>
												<a href="/app/<%= page %>/edit/<%= itens[i].id %>"
													class="btn btn-warning btn-circle btn-sm">
													<i class="fas fa-edit"></i>
												</a>
												<a href="#" class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
													data-target="#logoutModal"
													onclick="setaDadosModal('<%= itens[i].id %>')">
													<i class="far fa-trash-alt"></i>
												</a>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Rodapé -->
			<%- include ../template/rodape.ejs %>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
				</div>
				<form id="modalExemplo" method="post" action="/app/<%= page %>/delete/">
					<input type="hidden" name="id" id="campo">
					<div class="modal-body">Você realmente deseja apagar este item?</div>
					<div class="modal-footer">
						<button class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm" type="button" data-dismiss="modal">Cancelar</button>
						<input type="submit" value="Excluir" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"/>
        </div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>